.TopBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: z-index(top-bar, $stacking-order-fixed);
  background: custom-color(topbar);
  min-height: top-bar-height();
  display: flex;
  align-items: center;
  padding: 0 spacing();
}

.NavToggle {
  @include unstyled-button;
  @include recolor-icon(color(white));
  padding: spacing(tight);
  border-radius: border-radius();
  margin-left: -1 * spacing(extra-tight);

  &:hover {
    background-color: rgba(color(white), 0.1);
  }

  &:focus {
    background-color: rgba(color(black), 0.1);
  }
}
