$top-bar-height: rem(56px);
$nav-width: rem(240px);

@function top-bar-height() {
  @return $top-bar-height;
}

@function nav-width() {
  @return $nav-width;
}

$custom-palette-data: (topbar: (base: rgb(28, 34, 96)));

@function custom-color($hue, $value: base, $for-background: null) {
  $fetched-color: map-get(map-get($custom-palette-data, $hue), $value);

  @if map-has-key($custom-palette-data, $fetched-color) {
    $fetched-color: map-get(
      map-get($custom-palette-data, $fetched-color),
      $value
    );
  }

  @if $for-background != null {
    $fetched-color: color-multiply($fetched-color, $for-background);
  }

  @if type-of($fetched-color) == color {
    @return $fetched-color;
  } @else {
    @error 'Color `#{$hue} - #{$value}` not found. Available colors: #{available-names($custom-palette-data)}';
  }
}

$stacking-order-fixed: (
  content: 10,
  overlay: 15,
  nav: 20,
  top-bar: 25
);
