@import '~@shopify/polaris/styles/foundation.scss';
@import '~@shopify/polaris/styles/shared.scss';
@import 'global.scss';

$stacking-order-fixed: (
  content: 10,
  overlay: 15,
  nav: 20,
  top-bar: 25
);
